# -------------------------------
# SailPoint / Build
# -------------------------------
*.zip
*.tar
*.gz

code/build/

# -------------------------------
# DB / LDAP DATA
# -------------------------------
db-server/data/
ldap-server/data/

# -------------------------------
# Logs
# -------------------------------
logs/
*.log

# -------------------------------
# Temp / cache
# -------------------------------
tmp/
*.tmp

# -------------------------------
# OS files
# -------------------------------
.DS_Store
*.swp

# -------------------------------
# Docker volumes (if any)
# -------------------------------
data/

# -------------------------------
# IDE
# -------------------------------
.vscode/
.idea/


